body {
    background-color: grey;
    margin: 0;
    padding: 0;
    font-family: 'Ariel', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    width: 960px;

    
}

h1 {
    color: grey;
    background-color: rgba(240, 227, 227, 0.952);
    margin: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-size: 35px;
    font-size: small;
    



}

h2 {
    color: grey;
    background-color: rgba(240, 227, 227, 0.952);
    margin: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-size: 35px;
    font-size: small;

}

h3 {
    color: grey;
    background-color: rgba(240, 227, 227, 0.952);
    margin: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-size: 10px;
    width: 495px;
    font-size: small;
    
    



}

h4 {
    color: grey;
    background-color: rgba(240, 227, 227, 0.952);
    margin: 15px;
    text-align: center;
    float: right;
    width: 410px;
    padding-top: 25px;
    padding-bottom: 175px;
    font-size: small;

}

h5 {
    color: rgba(240, 227, 227, 0.952);
    margin: 15px;
    text-align: center;


}

h6 {
    color: grey;
    background-color: rgba(240, 227, 227, 0.952);
    margin: 15px;
    text-align: center;
    width: 485px;
    
}
